In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("ELT_PySpark") \
    .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:3.3.2,com.amazonaws:aws-java-sdk-bundle:1.11.901") \
    .config("spark.hadoop.fs.s3a.endpoint", "http://localhost:9000") \
    .config("spark.hadoop.fs.s3a.access.key", "your username") \
    .config("spark.hadoop.fs.s3a.secret.key", "your password") \
    .config("spark.hadoop.fs.s3a.path.style.access", "true") \
    .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
    .getOrCreate()

25/05/26 13:00:33 WARN Utils: Your hostname, lenovo-PC resolves to a loopback address: 127.0.1.1; using 172.31.112.46 instead (on interface eth0)
25/05/26 13:00:33 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

:: loading settings :: url = jar:file:/home/ubuntucoy/spark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/ubuntucoy/.ivy2/cache
The jars for the packages stored in: /home/ubuntucoy/.ivy2/jars
org.apache.hadoop#hadoop-aws added as a dependency
com.amazonaws#aws-java-sdk-bundle added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-37e7bd52-109c-4173-88ec-86848e2c1f1b;1.0
	confs: [default]
	found org.apache.hadoop#hadoop-aws;3.3.2 in central
	found com.amazonaws#aws-java-sdk-bundle;1.11.1026 in central
	found org.wildfly.openssl#wildfly-openssl;1.0.7.Final in central
:: resolution report :: resolve 1283ms :: artifacts dl 35ms
	:: modules in use:
	com.amazonaws#aws-java-sdk-bundle;1.11.1026 from central in [default]
	org.apache.hadoop#hadoop-aws;3.3.2 from central in [default]
	org.wildfly.openssl#wildfly-openssl;1.0.7.Final from central in [default]
	:: evicted modules:
	com.amazonaws#aws-java-sdk-bundle;1.11.901 by [com.amazonaws#aws-java-sdk-bundle;1.11.1026] in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   4   |   0   |   0   |   1   ||   3   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-37e7bd52-109c-4173-88ec-86848e2c1f1b
	confs: [default]
	0 artifacts copied, 3 already retrieved (0kB/36ms)
25/05/26 13:00:48 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/05/26 13:00:51 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/05/26 13:01:07 ERROR Inbox: Ignoring error
java.lang.NullPointerException
	at org.apache.spark.storage.BlockManagerMasterEndpoint.org$apache$spark$storage$BlockManagerMasterEndpoint$$register(BlockManagerMasterEndpoint.scala:677)
	at org.apache.spark.storage.BlockManagerMasterEndpoint$$anonfun$receiveAndReply$1.applyOrElse(BlockManagerMasterEndpoint.scala:133)
	at org.apache.spark.rpc.netty.Inbox.$anonfun$process$1(Inbox.scala:103)
	at org.apache.spark.rpc.netty.Inbox.safelyCall(Inbox.scala:213)
	at org.apache.spark.rpc.netty.Inbox.process(Inbox.scala:100)
	at org.apache.spark.rpc.netty.MessageLoop.org$apache$spark$rpc$netty$MessageLoop$$receiveLoop(MessageLoop.scala:75)
	at org.apache.spark.rpc.netty.MessageLoop$$anon$1.run(MessageLoop.scala:41)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)
25/05/26 13:01:07 WARN Executor: Issue communicating with driver in heartbeater
org.apache.spark.SparkException: Exception thrown in awaitResult:
	at org.apache.spark.util.SparkThreadUtils$.awaitResult(SparkThreadUtils.scala:56)
	at org.apache.spark.util.ThreadUtils$.awaitResult(ThreadUtils.scala:310)
	at org.apache.spark.rpc.RpcTimeout.awaitResult(RpcTimeout.scala:75)
	at org.apache.spark.rpc.RpcEndpointRef.askSync(RpcEndpointRef.scala:101)
	at org.apache.spark.rpc.RpcEndpointRef.askSync(RpcEndpointRef.scala:85)
	at org.apache.spark.storage.BlockManagerMaster.registerBlockManager(BlockManagerMaster.scala:80)
	at org.apache.spark.storage.BlockManager.reregister(BlockManager.scala:642)
	at org.apache.spark.executor.Executor.reportHeartBeat(Executor.scala:1223)
	at org.apache.spark.executor.Executor.$anonfun$heartbeater$1(Executor.scala:295)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:1928)
	at org.apache.spark.Heartbeater$$anon$1.run(Heartbeater.scala:46)
	at java.base/java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:515)
	at java.base/java.util.concurrent.FutureTask.runAndReset(FutureTask.java:305)
	at java.base/java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.run(ScheduledThreadPoolExecutor.java:305)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: java.lang.NullPointerException
	at org.apache.spark.storage.BlockManagerMasterEndpoint.org$apache$spark$storage$BlockManagerMasterEndpoint$$register(BlockManagerMasterEndpoint.scala:677)
	at org.apache.spark.storage.BlockManagerMasterEndpoint$$anonfun$receiveAndReply$1.applyOrElse(BlockManagerMasterEndpoint.scala:133)
	at org.apache.spark.rpc.netty.Inbox.$anonfun$process$1(Inbox.scala:103)
	at org.apache.spark.rpc.netty.Inbox.safelyCall(Inbox.scala:213)
	at org.apache.spark.rpc.netty.Inbox.process(Inbox.scala:100)
	at org.apache.spark.rpc.netty.MessageLoop.org$apache$spark$rpc$netty$MessageLoop$$receiveLoop(MessageLoop.scala:75)
	at org.apache.spark.rpc.netty.MessageLoop$$anon$1.run(MessageLoop.scala:41)
	... 3 more

In [2]:
df = spark.read.csv("s3a://raw/erp/CUST_AZ12.csv", header=True, inferSchema=True)
df.show()

25/05/26 13:01:15 WARN MetricsConfig: Cannot locate configuration: tried hadoop-metrics2-s3a-file-system.properties,hadoop-metrics2.properties

+-------------+----------+------+
|          CID|     BDATE|   GEN|
+-------------+----------+------+
|NASAW00011000|1971-10-06|  Male|
|NASAW00011001|1976-05-10|  Male|
|NASAW00011002|1971-02-09|  Male|
|NASAW00011003|1973-08-14|Female|
|NASAW00011004|1979-08-05|Female|
|NASAW00011005|1976-08-01|  Male|
|NASAW00011006|1976-12-02|Female|
|NASAW00011007|1969-11-06|  Male|
|NASAW00011008|1975-07-04|Female|
|NASAW00011009|1969-09-29|  Male|
|NASAW00011010|1969-08-05|Female|
|NASAW00011011|1969-05-03|  Male|
|NASAW00011012|1979-01-14|Female|
|NASAW00011013|1979-08-03|  Male|
|NASAW00011014|1973-11-06|Female|
|NASAW00011015|1984-08-26|Female|
|NASAW00011016|1984-10-25|  Male|
|NASAW00011017|1949-12-24|Female|
|NASAW00011018|1955-10-06|  Male|
|NASAW00011019|1983-09-04|  Male|
+-------------+----------+------+
only showing top 20 rows

In [3]:
from pyspark.sql.functions import col, when, substring, length, upper, trim, expr, current_date

# Transformation
df_transformed = df.select(
    when(
        col("cid").like("NAS%"),
        expr("SUBSTRING(cid, 4, length(cid))")
    ).otherwise(
        col("cid")
    ).alias("cid"),       # cid: Remove 'NAS' prefix if present
    
    when(
        col("bdate") > current_date(),
        None
    ).otherwise(
        col("bdate")
    ).alias("bdate"),     # bdate: Set future birthdates to NULL
    
    when(
        upper(trim(col("gen"))).isin("F", "FEMALE"),
        "Female"
    ).when(
        upper(trim(col("gen"))).isin("M", "MALE"),
        "Male"
    ).otherwise(
        "n/a"
    ).alias("gen")        # gen: Normalize gender values
)
df_transformed.show()

+----------+----------+------+
|       cid|     bdate|   gen|
+----------+----------+------+
|AW00011000|1971-10-06|  Male|
|AW00011001|1976-05-10|  Male|
|AW00011002|1971-02-09|  Male|
|AW00011003|1973-08-14|Female|
|AW00011004|1979-08-05|Female|
|AW00011005|1976-08-01|  Male|
|AW00011006|1976-12-02|Female|
|AW00011007|1969-11-06|  Male|
|AW00011008|1975-07-04|Female|
|AW00011009|1969-09-29|  Male|
|AW00011010|1969-08-05|Female|
|AW00011011|1969-05-03|  Male|
|AW00011012|1979-01-14|Female|
|AW00011013|1979-08-03|  Male|
|AW00011014|1973-11-06|Female|
|AW00011015|1984-08-26|Female|
|AW00011016|1984-10-25|  Male|
|AW00011017|1949-12-24|Female|
|AW00011018|1955-10-06|  Male|
|AW00011019|1983-09-04|  Male|
+----------+----------+------+
only showing top 20 rows

In [4]:
df_transformed.write \
    .mode("overwrite") \
    .option("header", True) \
    .csv("s3a://clean/erp/CUST_AZ12_clean.csv")

25/05/26 13:01:44 WARN AbstractS3ACommitterFactory: Using standard FileOutputCommitter to commit work. This is slow and potentially unsafe.
25/05/26 13:01:44 WARN AbstractS3ACommitterFactory: Using standard FileOutputCommitter to commit work. This is slow and potentially unsafe.

In [5]:
df_cleaned = spark.read.option("header", True).csv("s3a://clean/erp/CUST_AZ12_clean.csv")
df_cleaned.show()

+----------+----------+------+
|       cid|     bdate|   gen|
+----------+----------+------+
|AW00011000|1971-10-06|  Male|
|AW00011001|1976-05-10|  Male|
|AW00011002|1971-02-09|  Male|
|AW00011003|1973-08-14|Female|
|AW00011004|1979-08-05|Female|
|AW00011005|1976-08-01|  Male|
|AW00011006|1976-12-02|Female|
|AW00011007|1969-11-06|  Male|
|AW00011008|1975-07-04|Female|
|AW00011009|1969-09-29|  Male|
|AW00011010|1969-08-05|Female|
|AW00011011|1969-05-03|  Male|
|AW00011012|1979-01-14|Female|
|AW00011013|1979-08-03|  Male|
|AW00011014|1973-11-06|Female|
|AW00011015|1984-08-26|Female|
|AW00011016|1984-10-25|  Male|
|AW00011017|1949-12-24|Female|
|AW00011018|1955-10-06|  Male|
|AW00011019|1983-09-04|  Male|
+----------+----------+------+
only showing top 20 rows

In [6]:
import duckdb

# Convert from Spark to Pandas
df_cleaned_CUST_AZ12 = df_cleaned.toPandas()

# Connect to DuckDB
con = duckdb.connect("/mnt/d/data_engineering/duckdb/db/dev.duckdb")

# Save as DuckDB table (view)
con.register("erp_CUST_AZ12_clean_view", df_cleaned_CUST_AZ12)

# Save as DuckDB table (not view)
con.execute("CREATE OR REPLACE TABLE erp_CUST_AZ12_clean AS SELECT * FROM erp_CUST_AZ12_clean_view")

In [7]:
con.execute("SELECT * FROM erp_CUST_AZ12_clean LIMIT 10").df().style.hide(axis="index")

In [8]:
con.close()