In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("ELT_PySpark") \
    .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:3.3.2,com.amazonaws:aws-java-sdk-bundle:1.11.901") \
    .config("spark.hadoop.fs.s3a.endpoint", "http://localhost:9000") \
    .config("spark.hadoop.fs.s3a.access.key", "minioadmin") \
    .config("spark.hadoop.fs.s3a.secret.key", "minioadmin123") \
    .config("spark.hadoop.fs.s3a.path.style.access", "true") \
    .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
    .getOrCreate()

25/05/23 13:05:55 WARN Utils: Your hostname, lenovo-PC resolves to a loopback address: 127.0.1.1; using 172.31.112.46 instead (on interface eth0)
25/05/23 13:05:55 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

:: loading settings :: url = jar:file:/home/ubuntucoy/spark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/ubuntucoy/.ivy2/cache
The jars for the packages stored in: /home/ubuntucoy/.ivy2/jars
org.apache.hadoop#hadoop-aws added as a dependency
com.amazonaws#aws-java-sdk-bundle added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-6bfc46d6-909f-4cb8-a1cb-41d66dec870e;1.0
	confs: [default]
	found org.apache.hadoop#hadoop-aws;3.3.2 in central
	found com.amazonaws#aws-java-sdk-bundle;1.11.1026 in central
	found org.wildfly.openssl#wildfly-openssl;1.0.7.Final in central
:: resolution report :: resolve 4204ms :: artifacts dl 59ms
	:: modules in use:
	com.amazonaws#aws-java-sdk-bundle;1.11.1026 from central in [default]
	org.apache.hadoop#hadoop-aws;3.3.2 from central in [default]
	org.wildfly.openssl#wildfly-openssl;1.0.7.Final from central in [default]
	:: evicted modules:
	com.amazonaws#aws-java-sdk-bundle;1.11.901 by [com.amazonaws#aws-java-sdk-bundle;1.11.1026] in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   4   |   0   |   0   |   1   ||   3   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-6bfc46d6-909f-4cb8-a1cb-41d66dec870e
	confs: [default]
	0 artifacts copied, 3 already retrieved (0kB/245ms)
25/05/23 13:06:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/05/23 13:06:22 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/05/23 13:07:02 ERROR Inbox: Ignoring error
java.lang.NullPointerException
	at org.apache.spark.storage.BlockManagerMasterEndpoint.org$apache$spark$storage$BlockManagerMasterEndpoint$$register(BlockManagerMasterEndpoint.scala:677)
	at org.apache.spark.storage.BlockManagerMasterEndpoint$$anonfun$receiveAndReply$1.applyOrElse(BlockManagerMasterEndpoint.scala:133)
	at org.apache.spark.rpc.netty.Inbox.$anonfun$process$1(Inbox.scala:103)
	at org.apache.spark.rpc.netty.Inbox.safelyCall(Inbox.scala:213)
	at org.apache.spark.rpc.netty.Inbox.process(Inbox.scala:100)
	at org.apache.spark.rpc.netty.MessageLoop.org$apache$spark$rpc$netty$MessageLoop$$receiveLoop(MessageLoop.scala:75)
	at org.apache.spark.rpc.netty.MessageLoop$$anon$1.run(MessageLoop.scala:41)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)
25/05/23 13:07:02 WARN Executor: Issue communicating with driver in heartbeater
org.apache.spark.SparkException: Exception thrown in awaitResult:
	at org.apache.spark.util.SparkThreadUtils$.awaitResult(SparkThreadUtils.scala:56)
	at org.apache.spark.util.ThreadUtils$.awaitResult(ThreadUtils.scala:310)
	at org.apache.spark.rpc.RpcTimeout.awaitResult(RpcTimeout.scala:75)
	at org.apache.spark.rpc.RpcEndpointRef.askSync(RpcEndpointRef.scala:101)
	at org.apache.spark.rpc.RpcEndpointRef.askSync(RpcEndpointRef.scala:85)
	at org.apache.spark.storage.BlockManagerMaster.registerBlockManager(BlockManagerMaster.scala:80)
	at org.apache.spark.storage.BlockManager.reregister(BlockManager.scala:642)
	at org.apache.spark.executor.Executor.reportHeartBeat(Executor.scala:1223)
	at org.apache.spark.executor.Executor.$anonfun$heartbeater$1(Executor.scala:295)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:1928)
	at org.apache.spark.Heartbeater$$anon$1.run(Heartbeater.scala:46)
	at java.base/java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:515)
	at java.base/java.util.concurrent.FutureTask.runAndReset(FutureTask.java:305)
	at java.base/java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.run(ScheduledThreadPoolExecutor.java:305)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: java.lang.NullPointerException
	at org.apache.spark.storage.BlockManagerMasterEndpoint.org$apache$spark$storage$BlockManagerMasterEndpoint$$register(BlockManagerMasterEndpoint.scala:677)
	at org.apache.spark.storage.BlockManagerMasterEndpoint$$anonfun$receiveAndReply$1.applyOrElse(BlockManagerMasterEndpoint.scala:133)
	at org.apache.spark.rpc.netty.Inbox.$anonfun$process$1(Inbox.scala:103)
	at org.apache.spark.rpc.netty.Inbox.safelyCall(Inbox.scala:213)
	at org.apache.spark.rpc.netty.Inbox.process(Inbox.scala:100)
	at org.apache.spark.rpc.netty.MessageLoop.org$apache$spark$rpc$netty$MessageLoop$$receiveLoop(MessageLoop.scala:75)
	at org.apache.spark.rpc.netty.MessageLoop$$anon$1.run(MessageLoop.scala:41)
	... 3 more

In [2]:
df = spark.read.csv("s3a://raw/crm/cust_info.csv", header=True, inferSchema=True)
df.show()

25/05/23 13:07:29 WARN MetricsConfig: Cannot locate configuration: tried hadoop-metrics2-s3a-file-system.properties,hadoop-metrics2.properties

+------+----------+-------------+------------+------------------+--------+---------------+
|cst_id|   cst_key|cst_firstname|cst_lastname|cst_marital_status|cst_gndr|cst_create_date|
+------+----------+-------------+------------+------------------+--------+---------------+
| 11000|AW00011000|          Jon|       Yang |                 M|       M|     2025-10-06|
| 11001|AW00011001|       Eugene|     Huang  |                 S|       M|     2025-10-06|
| 11002|AW00011002|        Ruben|      Torres|                 M|       M|     2025-10-06|
| 11003|AW00011003|      Christy|         Zhu|                 S|       F|     2025-10-06|
| 11004|AW00011004|    Elizabeth|     Johnson|                 S|       F|     2025-10-06|
| 11005|AW00011005|        Julio|        Ruiz|                 S|       M|     2025-10-06|
| 11006|AW00011006|        Janet|     Alvarez|                 S|       F|     2025-10-06|
| 11007|AW00011007|        Marco|       Mehta|                 M|       M|     2025-10-06|
| 11008|AW00011008|          Rob|     Verhoff|                 S|       F|     2025-10-06|
| 11009|AW00011009|      Shannon|     Carlson|                 S|       M|     2025-10-06|
| 11010|AW00011010|    Jacquelyn|      Suarez|                 S|       F|     2025-10-06|
| 11011|AW00011011|       Curtis|          Lu|                 M|       M|     2025-10-06|
| 11012|AW00011012|       Lauren|      Walker|                 M|       F|     2025-10-06|
| 11013|AW00011013|         Ian |    Jenkins |                 M|       M|     2025-10-06|
| 11014|AW00011014|       Sydney|     Bennett|                 S|       F|     2025-10-06|
| 11015|AW00011015|        Chloe|       Young|                 S|       F|     2025-10-06|
| 11016|AW00011016|        Wyatt|        Hill|                 M|       M|     2025-10-07|
| 11017|AW00011017|      Shannon|        Wang|                 S|       F|     2025-10-07|
| 11018|AW00011018|     Clarence|         Rai|                 S|       M|     2025-10-07|
| 11019|AW00011019|         Luke|         Lal|                 S|       M|     2025-10-07|
+------+----------+-------------+------------+------------------+--------+---------------+
only showing top 20 rows

In [3]:
from pyspark.sql.functions import col, trim, upper, when, row_number
from pyspark.sql.window import Window

# Step 1: Window specification
window_spec = Window.partitionBy("cst_id").orderBy(col("cst_create_date").desc())

# Step 2: Filtering null dulu + apply transformasi
df_transformed = (
    df.filter(col("cst_id").isNotNull())
      .select(
        "cst_id",
        "cst_key",
        trim(col("cst_firstname")).alias("cst_firstname"),
        trim(col("cst_lastname")).alias("cst_lastname"),
        when(upper(trim(col("cst_marital_status"))) == "S", "Single")
            .when(upper(trim(col("cst_marital_status"))) == "M", "Married")
            .otherwise("n/a")
            .alias("cst_marital_status"),
        when(upper(trim(col("cst_gndr"))) == "F", "Female")
            .when(upper(trim(col("cst_gndr"))) == "M", "Male")
            .otherwise("n/a")
            .alias("cst_gndr"),
        "cst_create_date"
      )
      .withColumn("flag_last", row_number().over(window_spec))  # buat kolom untuk filter
      .filter(col("flag_last") == 1)  # filter
      .drop("flag_last")  # drop kolomnya supaya gak muncul di output
)

df_transformed.show()

[Stage 5:>                                                          (0 + 1) / 1]

+------+----------+-------------+------------+------------------+--------+---------------+
|cst_id|   cst_key|cst_firstname|cst_lastname|cst_marital_status|cst_gndr|cst_create_date|
+------+----------+-------------+------------+------------------+--------+---------------+
| 11000|AW00011000|          Jon|        Yang|           Married|    Male|     2025-10-06|
| 11001|AW00011001|       Eugene|       Huang|            Single|    Male|     2025-10-06|
| 11002|AW00011002|        Ruben|      Torres|           Married|    Male|     2025-10-06|
| 11003|AW00011003|      Christy|         Zhu|            Single|  Female|     2025-10-06|
| 11004|AW00011004|    Elizabeth|     Johnson|            Single|  Female|     2025-10-06|
| 11005|AW00011005|        Julio|        Ruiz|            Single|    Male|     2025-10-06|
| 11006|AW00011006|        Janet|     Alvarez|            Single|  Female|     2025-10-06|
| 11007|AW00011007|        Marco|       Mehta|           Married|    Male|     2025-10-06|
| 11008|AW00011008|          Rob|     Verhoff|            Single|  Female|     2025-10-06|
| 11009|AW00011009|      Shannon|     Carlson|            Single|    Male|     2025-10-06|
| 11010|AW00011010|    Jacquelyn|      Suarez|            Single|  Female|     2025-10-06|
| 11011|AW00011011|       Curtis|          Lu|           Married|    Male|     2025-10-06|
| 11012|AW00011012|       Lauren|      Walker|           Married|  Female|     2025-10-06|
| 11013|AW00011013|          Ian|     Jenkins|           Married|    Male|     2025-10-06|
| 11014|AW00011014|       Sydney|     Bennett|            Single|  Female|     2025-10-06|
| 11015|AW00011015|        Chloe|       Young|            Single|  Female|     2025-10-06|
| 11016|AW00011016|        Wyatt|        Hill|           Married|    Male|     2025-10-07|
| 11017|AW00011017|      Shannon|        Wang|            Single|  Female|     2025-10-07|
| 11018|AW00011018|     Clarence|         Rai|            Single|    Male|     2025-10-07|
| 11019|AW00011019|         Luke|         Lal|            Single|    Male|     2025-10-07|
+------+----------+-------------+------------+------------------+--------+---------------+
only showing top 20 rows

In [4]:
df_transformed.write \
    .mode("overwrite") \
    .option("header", True) \
    .csv("s3a://clean/crm/cust_info_clean.csv")

25/05/23 13:08:21 WARN AbstractS3ACommitterFactory: Using standard FileOutputCommitter to commit work. This is slow and potentially unsafe.
25/05/23 13:08:24 WARN AbstractS3ACommitterFactory: Using standard FileOutputCommitter to commit work. This is slow and potentially unsafe.

In [5]:
df_cleaned = spark.read.option("header", True).csv("s3a://clean/crm/cust_info_clean.csv")
df_cleaned.show()

+------+----------+-------------+------------+------------------+--------+---------------+
|cst_id|   cst_key|cst_firstname|cst_lastname|cst_marital_status|cst_gndr|cst_create_date|
+------+----------+-------------+------------+------------------+--------+---------------+
| 11000|AW00011000|          Jon|        Yang|           Married|    Male|     2025-10-06|
| 11001|AW00011001|       Eugene|       Huang|            Single|    Male|     2025-10-06|
| 11002|AW00011002|        Ruben|      Torres|           Married|    Male|     2025-10-06|
| 11003|AW00011003|      Christy|         Zhu|            Single|  Female|     2025-10-06|
| 11004|AW00011004|    Elizabeth|     Johnson|            Single|  Female|     2025-10-06|
| 11005|AW00011005|        Julio|        Ruiz|            Single|    Male|     2025-10-06|
| 11006|AW00011006|        Janet|     Alvarez|            Single|  Female|     2025-10-06|
| 11007|AW00011007|        Marco|       Mehta|           Married|    Male|     2025-10-06|
| 11008|AW00011008|          Rob|     Verhoff|            Single|  Female|     2025-10-06|
| 11009|AW00011009|      Shannon|     Carlson|            Single|    Male|     2025-10-06|
| 11010|AW00011010|    Jacquelyn|      Suarez|            Single|  Female|     2025-10-06|
| 11011|AW00011011|       Curtis|          Lu|           Married|    Male|     2025-10-06|
| 11012|AW00011012|       Lauren|      Walker|           Married|  Female|     2025-10-06|
| 11013|AW00011013|          Ian|     Jenkins|           Married|    Male|     2025-10-06|
| 11014|AW00011014|       Sydney|     Bennett|            Single|  Female|     2025-10-06|
| 11015|AW00011015|        Chloe|       Young|            Single|  Female|     2025-10-06|
| 11016|AW00011016|        Wyatt|        Hill|           Married|    Male|     2025-10-07|
| 11017|AW00011017|      Shannon|        Wang|            Single|  Female|     2025-10-07|
| 11018|AW00011018|     Clarence|         Rai|            Single|    Male|     2025-10-07|
| 11019|AW00011019|         Luke|         Lal|            Single|    Male|     2025-10-07|
+------+----------+-------------+------------+------------------+--------+---------------+
only showing top 20 rows

In [6]:
import duckdb

# Convert dari Spark ke Pandas
df_cleaned_cust_info = df_cleaned.toPandas()

# Connect ke DuckDB
con = duckdb.connect("/mnt/d/data_engineering/duckdb/db/dev.duckdb")

# Simpan sebagai tabel DuckDB (view)
con.register("crm_cust_info_clean_view", df_cleaned_cust_info)

# Simpan sebagai tabel DuckDB (bukan view)
con.execute("CREATE OR REPLACE TABLE crm_cust_info_clean AS SELECT * FROM crm_cust_info_clean_view")

In [7]:
con.execute("SELECT * FROM crm_cust_info_clean LIMIT 10").df().style.hide(axis="index")

In [9]:
con.close()